<%= form_for(@manifest) do |f| %>
  <% if @manifest.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@manifest.errors.count, "error") %> prohibited this manifest from being saved:</h2>

      <ul>
      <% @manifest.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :label %><br />
    <%= f.text_field :label %>
  </div>
  <div class="field">
    <%= f.label :manifest_uri %><br />
    <%= f.text_field :manifest_uri %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :manifest_json %><br />
    <%= f.text_area :manifest_json, :value => JSON.pretty_generate(@manifest.manifest_json), :spellcheck => false %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
